.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_image {
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  position: absolute;
}
.signIn_container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  width: 30vw;
  z-index: 40;
  backdrop-filter: blur(7px);
  padding-inline: 60px;
  animation-name: fadeIn;
  animation-duration: 1s;
  /* animation-delay: 1s; */
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.singnIn_email {
  margin-top: 20px;
  height: 50px;
  width: 30vw;
  border-radius: 5px;
  background-color: #333333;
  border: 0;
  padding-left: 20px;
}

.singnIn_email::-webkit-input-placeholder {
  color: lightgrey;
  opacity: 0.5;
  font-size: 20px;
}
/* 
#inputID::placeholder {
    color: #ff0000;
    opacity: 1;
} */

.signin_button {
  background-color: rebeccapurple;
  height: 50px;
  width: 70px;
}

.login_Button {
  background-color: #e50914;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin-top: 40px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 5px;
  border: solid 1px;
  border-radius: 5px;
}

.signIn_name {
  animation-name: slide;
  animation-duration: 1000s;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes slide {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  0.1% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
